<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>定位&负边距</title>
    <style type="text/css">
      /* 方法1:长宽明确，利用绝对定位 & 负边距 */
      *{
        margin: 0;
        padding: 0;
      }
      #center{
        width: 300px;
        height: 200px;
        background-color: #2196f3;

        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -100px;
      }
    </style>
  </head>
  <body>
    <div id="center">
      元素水平垂直居中
      <br />
      绝对定位 & 负边距
    </div>
  </body>
</html>
