<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
      .left-inner{
        float: left;
        width: 200px;
        border: 1px solid black;
        position: relative;
        left: 40px
      }
      .right-inner{
        float: left;
        width: 200px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="left-inner">
        左内容区
      </div>
      <div class="right-inner">
        右内容区
      </div>
    </div>
  </body>
</html>
